<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.polidea.androidbleworkshop"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required to read some scan result fields like name -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- Required for service discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Coarse or fine location is required in order to receive scan results -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".example1.Example1ScanningActivity"/>
        <activity android:name=".example1.Example1NewScanningActivity"/>
        <activity android:name=".example2.Example2ConnectionActivity"/>
        <activity android:name=".example2.Example2RxConnectionActivity"/>
    </application>

</manifest>
